<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qf.game.dao.mapper.GameMapper">

    <resultMap id="gameMap" type="qf.game.dao.entity.Game" >
        <id column="g_id" property="id" javaType="Long" jdbcType="BIGINT" />
        <result column="g_name" property="name" javaType="String" jdbcType="VARCHAR" />
        <result column="g_create_time" property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
        <result column="g_create_by" property="createBy" javaType="Long" jdbcType="BIGINT" />
        <collection property="categories" ofType="qf.game.dao.entity.Category">
            <id column="c_id" property="id" javaType="Long" jdbcType="BIGINT" />
            <result column="c_name" property="name" javaType="String" jdbcType="VARCHAR" />
            <result column="c_create_time" property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
            <result column="c_create_by" property="createBy" javaType="Long" jdbcType="BIGINT"/>
        </collection>
    </resultMap>

    <sql id="base_query">
        SELECT
        g.id AS g_id,
        g.name AS g_name,
        g.create_time AS g_create_time,
        g.create_by AS g_create_by,
        c.id AS c_id,
        c.name AS c_name,
        c.create_time AS c_create_time,
        c.create_by AS c_create_by
        FROM game_info g, category_info c, link_category_game l
        WHERE g.is_deleted = false
        AND g.id = l.game_info_id
        AND c.id = l.category_info_id
    </sql>

    <select id="findAll" resultMap="gameMap">
        <include refid="base_query"/>
    </select>

    <select id="findById" resultMap="gameMap">
        <include refid="base_query"/>
        AND g.id = #{id}
    </select>

    <select id="findAllByCategoryId" resultMap="gameMap">
        <include refid="base_query"/>
        AND c.id = #{categoryId}
    </select>

    <insert id="create" parameterType="qf.game.dao.entity.Game" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO game_info(name, create_time, create_by) values(#{name}, #{createTime}, #{createBy})
    </insert>

    <insert id="createCategoryRelation" parameterType="java.util.List">
        INSERT INTO link_category_game
        (game_info_id, category_info_id)
        VALUES
        <foreach collection="list" item="element" index="index" >
            (#{element.gameInfoId}, #{element.categoryInfoId})
        </foreach>
    </insert>

    <update id="delete" parameterType="Long" >
        UPDATE
        game_info
        SET
        is_deleted = true
        WHERE
        id = #{id}
    </update>

    <update id="update" parameterType="qf.game.dao.entity.Game" >
        UPDATE
        game_info
        SET
        name = #{name}
        WHERE
        id = #{id}
    </update>

</mapper>